<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GiConsole20.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GiConsole20.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="CommonVal_u" value="CommonVal_u_app"/>
    <add key="CommonVal_a" value="CommonVal_a_app"/>
    <add key="AppVal_u" value="AppVal_u_app"/>
    <add key="AppVal_a" value="AppVal_a_app"/>
    <add key="WebVal_u" value="WebVal_u_app"/>
    <add key="WebVal_a" value="WebVal_a_app"/>
    <add key="LibVal_u" value="LibVal_u_app"/>
    <add key="LibVal_a" value="LibVal_a_app"/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GiConsole20.My.MySettings>
            <setting name="CommonVal_u" serializeAs="String">
                <value>CommonVal_u_App</value>
            </setting>
            <setting name="AppVal_u" serializeAs="String">
                <value>AppVal_u</value>
            </setting>
        </GiConsole20.My.MySettings>
    </userSettings>
    <applicationSettings>
        <GiConsole20.My.MySettings>
            <setting name="CommonVal_a" serializeAs="String">
                <value>CommonVal_a_App</value>
            </setting>
            <setting name="AppVal_a" serializeAs="String">
                <value>AppVal_a</value>
            </setting>
        </GiConsole20.My.MySettings>
    </applicationSettings>
</configuration>
